.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  
  color: black;

}



.new{
  column-count: 3;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: auto;
  box-sizing: border-box;
  width: 100%;
}

.left {
  text-align: left;
  color: white;
  width: 20%;
 
}

.right {
  text-align: left;
  color: white;
 width: 20%;

  


}

.img-bg {
    background-image: url("00-start-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparent {
  background: #FFFFFF;
  opacity: 0.4;
}